
.container-card {
    background-image: url('../images/bg-main-mobile.png');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 220px;
}

.card-back {
    background-image: url('../images/bg-card-back.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 270px;
    height: 148px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    top: 2em;
    left: 6.5em;
}

.cvc-info {
    padding-right: 3.5em;
    color: white;
    font-size: 10px;
}

.card-front {
    background-image: url('../images/bg-card-front.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 270px;
    height: 148px;
    position: relative;
    top: 7em;
    left: 2em;
}

.card-logo {
    width: 20%;
    padding: 1em 0 0 1em;
}

.info-numb-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2em;
}

.numb-card {
    color: white;
    font-size: 16px;
    letter-spacing: 3px;
}

.info-card {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-top: 1.5em;
    align-items: flex-end;
    gap: 2em;
}

.card-name {
    color: white; /* Tem que mudar */
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.card-data {
    display: flex;
}

.card-month {
    color: white;
    font-size: 12px;
    letter-spacing: 1px;
}

.card-bar {
    color: white;
    font-size: 12px;
    letter-spacing: 1px;
}

.card-year {
    color: white;
    font-size: 12px;
    letter-spacing: 1px;
}

.form-container {
    display: flex;
    flex-direction: column;
    padding: 6em 2em 3em 2em;
}

.title-form {
    color: black;
    text-align: left;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 1.5px;
    padding: 1em 0 0.5em 0;
    text-transform: uppercase;
}

.input-data {
    width: 320px;
    height: 30px;
    border-color: black;
    border-width: 1px;
    border-radius: 5px;
    border-style: solid;
}

.final-data {
    display: grid;
    grid-template-columns: 74px 70px 166px;
    padding-bottom: 2em;
    align-items: center;
    column-gap: 8px;
}

.month-cant-be {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    width: 80px;
}

.month {
    grid-column-start:2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

.cvc-cant-be {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}

.cvc {
    width: 160px;
}

.btn-confirm {
    width: 326px;
    height: 50px;
    background-color: var(--very-dark-violet);
    color: var(--white);
    font-size: 17px;
    font-weight: bold;
    border-style: none;
    border-radius: 5px;
    letter-spacing: 1px;
}

input:focus {
    outline: none;
    border-color: var(--active-border);
    
    
}

::placeholder{
    padding-left: 1em;
    color: var(--dark-grayish-violet);
    font-weight: 300;
    font-size: 14px;
    font-family: var(--principalfont);
}

.thx__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 326px;
    height: 425.5px;
    padding: 6em 2em 3em 2em;
    display: none;
}

.thx__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.thx {
    font-size: 25px;
    color: var(--very-dark-violet);
    text-transform: uppercase;
    letter-spacing: 3px;
    padding-top: 2em;
}

.thx__text {
    font-size: 16px;
    color: var(--dark-grayish);
    padding: 1.5em 0 4em 0;
    letter-spacing: 1px;
}

.btn-continue-thx {
    width: 326px;
    height: 50px;
    background-color: var(--very-dark-violet);
    color: var(--white);
    font-size: 17px;
    font-weight: bold;
    border-style: none;
    border-radius: 5px;
    letter-spacing: 1px;
}


.cant-be {
    display: none;
    color: red;
    padding-top: .3em;
    font-size: 11px;

}